* {
    box-sizing: border-box;
}

body {
    font-family: "MontserratMedium";
    /* background-color: darkseagreen; */
    /* margin: 0px;
    padding: 8px; */
    /* -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;  */
}